.catcher {
  margin-bottom: 33px;

  p {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    line-height: 23px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 29px;
    margin-bottom: 9px;
  }

  &__button {
    display: block;
    margin: 0 20px;
    background-color: #81b3d2;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 12px 0;
    margin-bottom: 50px;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }

  &__map {
    background-image: url("../img/bg-map-mobile@1x.jpg");
    background-size: cover;
    background-color: #eeeeee;
    width: auto;
    height: 350px;
    background-position: center;
    margin: 35px auto;
    background-repeat: no-repeat;

    &::after {
      content: "";
      position: relative;
      display: block;
      width: 27px;
      height: 27px;
      top: 50%;
      left: 50%;
      background-image: url("../img/icon-map-marker.svg");
      background-repeat: no-repeat;
      background-size: 27px;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  &__header {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 21px;
    text-align: center;
  }

  @media screen and (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    &__map {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }
  }
}

@media screen and (min-width: 760px) {
  .catcher__button {
    margin: 0 20% 50px;
  }

  .catcher {
    margin-bottom: 25px;
  }

  .catcher p {
    margin-bottom: 14px;
    padding: 0 20% 31px;
  }

  .catcher__header {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 53px 0 25px;
    line-height: 35px;
  }

  .catcher__map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-size: cover;
    max-width: 1200px;
    margin: 59px auto 0;
  }

  @media screen and (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .catcher__map {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media screen and (min-width: 1190px) {
  .catcher__button {
    margin: 20px 31% 67px;
  }

  .catcher {
    margin-bottom: 10px;
  }


  .catcher__header {
    margin: 53px 0 23px;
  }

  .catcher p {
    max-width: 40%;
    margin: 0 auto;
  }

  .catcher__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }

  @media screen and (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .catcher__map {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
