.catcher {
  p {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    line-height: 1.7;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 23px;
  }

  &__button {
    display: block;
    margin: 0 20px;
    background-color: #81b3d2;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    margin-bottom: 50px;
  }

  &__map {
    background-image: url("../img/bg-map-mobile@1x.jpg");
    background-size: 320px 350px;
    background-color: #eeeeee;
    width: auto;
    height: 350px;
    background-position: center;
    margin: 35px auto;
    background-repeat: no-repeat;
  }

  &__header {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}

@media screen and (min-width: 760px) {
  .catcher__button {
    margin: 0 20%;
  }

  .catcher__map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-size: cover;
  }
}
