.form-introduce__label {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-grow: 1;
  align-items: baseline;
}

.form-introduce__label span {
  margin-right: 15px;
}

.form-introduce {
  margin-bottom: 1px;
}

@media screen and (min-width: 760px) {
  .form-introduce {
    width: 40%;
    margin-bottom: auto;
  }

  .form-introduce__label span {
    margin-left: 35px;
  }

  .form-introduce legend {
    margin-left: 35px;
    text-align: left;
  }
}

@media screen and (min-width: 1190px) {
  .form-introduce {
    width: 50%;
    margin-bottom: 55px;

    .form__wrapper {
      margin-left: 47px;
    }

    legend {
      padding-left: 50px;
      text-align: left;
    }
  }
}
