.main-form {
  margin-top: 32px;
  legend{
    position: relative;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      display: block;
      height: 1px;
      top: -15px;
      left: -20px;
      background-color: #d6d6d6;
      background-repeat: no-repeat;
    }
  }
  fieldset {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
    padding-bottom: 21px;
    border: none;
    position: relative;

  }
}

.form-introduce__label {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  margin-bottom: 2px;
  margin-bottom: 20px;
}

.form-input {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
  border: none;
  flex-grow: 1;
  flex-shrink: 1;
  width: 155px;
  padding: 18px;
  line-height: 22px;
}

.form-introduce__label span {
  margin-right: 15px;
}

.form__icon-style {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;

}

.form-contacts__label {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 2px;
}

.form-contacts__legend {
  margin-bottom: 13px;
}
