
.form-comment {
  padding-bottom: 27px;
  max-width: 100%;
}

.form-comment__wrapper {
  width: 100%;
}

.form-comment__button {
  border: none;
  background-color: #81b3d2;
  min-width: 280px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 58px;
  margin-bottom: 71px;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form-comment__textarea {
  border: none;
  background-color: #f2f2f2;
  min-width: 220px;
  height: 110px;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 38px 32px 20px;
  margin-bottom: 25px;
  line-height: 25px;
  width: 100%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline-color: #e5e5e5;
    outline-width: 4px;
    outline-offset: -4px;
    outline-style: solid;
  }
}

.form-comment__clause {
  display: none;
}

.form-comment legend {
  margin-bottom: 18px;
}

@media screen and (min-width: 760px) {
  .form-comment {
    width: 100%;
    margin-bottom: 44px;
    padding: 0;
  }

  .form-comment legend {
    margin-bottom: 46px;
  }

  .form-comment__button {
    align-self: baseline;
    margin: 0;
    margin-left: 60px;
    width: 42%;
  }

  .form-comment__clause {
    display: block;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    line-height: 1.8;
    align-self: baseline;
    margin-left: auto;
    margin-right: 60px;
    margin-bottom: 73px;
  }

  .form-comment__textarea {
    width: 100%;
    padding: 15px 22px;
    margin: 11px 58px;
    height: 130px;
  }
}

@media screen and (min-width: 1190px) {
  .form-comment legend {
    margin-top: 0;
    margin-bottom: 55px;
  }

  .form-comment__textarea {
    margin: 0;
    margin-bottom: 13px;
    padding: 20px;
    height: 120px;
  }

  .form-comment__clause {
    margin-right: 0;
  }

  .form-comment__button {
    margin-left: 0;
    width: 50%;
  }
}
