.form-comment__button {
  border: none;
  background-color: #81b3d2;
  min-width: 280px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 58px;
  margin-bottom: 71px;
}

.form-comment__textarea {
  border: none;
  background-color: #f2f2f2;
  min-width: 220px;
  height: 110px;
  font-size: 18px;
  font-weight: bold;
  padding: 25px;
  margin-bottom: 25px;
}

@media screen and (min-width: 760px) {
  .form-comment {
    width: 80%;
  }

  .form-comment__wrapper {
    width: 100%;
  }

  .form-comment__textarea {
    width: 100%;
  }
}
