.form-choice__label {
  line-height: 80px;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
    background-size: 56px;
    top: 15px;
    left: 0;
  }
}

@media screen and (min-width: 760px) {
  .form-choice__label {
    width: 30%;
  }
}

@media screen and (min-width: 1150px) {
  .form-choice {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;

    .form-choice__wrapper {
      justify-content: space-around;
      width: 100%;
      flex-wrap: nowrap;
    }
  }
}
