.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: spase-around;
}

.form__fieldset {
  display: flex;
  flex-wrap: wrap;
  padding: 0 18px;
  padding-bottom: 32px;
  border: none;
  position: relative;
}

.form__input {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
  border: none;
  flex-grow: 1;
  flex-shrink: 1;
  width: 143px;
  padding: 14px;
  padding-left: 20px;
  line-height: 22px;
  margin: 10px 0;
  border-color: #f2f2f2;
  border-width: 4px;
  border-style: solid;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border-color: #e5e5e5;
  }
}

.form__wrapper {
  display: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.form__icon {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-shrink: 0;
}

.form__legend {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 27px;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    display: block;
    height: 1px;
    top: -18px;
    left: -20px;
    background-color: #d6d6d6;
    background-repeat: no-repeat;
  }
}

.form__votel {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-left: 80px;
  position: relative;
  line-height: 71px;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .form__section {
    margin-top: 30px;
  }

  .form__votel {
    line-height: 72px;
  }

  .form__subheader {
    margin-bottom: 72px;
    width: 455px;
  }

  .form__fieldset {
    justify-content: flex-start;
    padding-bottom: 0;
    margin-bottom: 61px;
  }

  .form__legend {
    font-size: 21px;
    margin-bottom: 46px;

    &::before {
      display: none;
    }
  }
}

@media screen and (min-width: 1190px) {
  .form__legend::before {
    width: 350px;
    margin: 0 auto;
  }

  .form__fieldset {
    padding: 0;
    justify-content: flex-start;
    margin-bottom: 25px;
  }

  .form {
    max-width: 960px;
    margin: 0 auto 80px;
    position: relative;
  }

  .form__icon:nth-child(1) {
    margin-right: 150px;
  }

  .form__input {
    width: 220px;
  }

  .form__subheader {
    margin-bottom: 60px;
  }
}
