.gallery {
  margin-bottom: 124px;
}

.gallery__header {
  min-width: 270px;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.7;
  text-align: center;
  padding: 0 25px;
  font-weight: normal;
  margin-bottom: 27px;
}

.gallery__item-header {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  margin: 10px 0;
}

.gallery__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 16px 0;
}

.gallery__item-header-link {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.7;
  text-align: left;
  text-decoration: none;
  letter-spacing: -1.3px;
  min-width: 280px;
}

.gallery__item-head {
  margin-bottom: 0;
  margin-top: 5px;
}

.gallery__image-link {
  min-width: 280px;
}

.gallery__item-name {
  color: #333333;
  line-height: 1.7;
  text-align: left;
  margin: 0;
  min-width: 280px;
  margin-bottom: 3px;

  a {
    text-decoration: none;
    color: #333333;
  }
}

.gallery__like {
  font-size: 14px;
  color: #333333;
  line-height: 1.7;
  text-align: left;
  min-width: 280px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";
    position: relative;
    background-image: url("../img/icon-like.svg");
    width: 23px;
    height: 21px;
    background-size: 23px 21px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 14px;
  }
}

.gallery__item-desk {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.8;
  text-align: center;
  font-weight: normal;
  margin-bottom: 33px;
}

@media screen and (min-width: 760px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__header {
    padding: 0 21%;
  }

  .gallery__list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
