.main__text-content {
  max-width: 500px;
  padding: 0 25px;
}

.main__subheader {
  margin-bottom: 45px;
}

@media screen and (min-width: 760px) {
  .main__subheader {
    margin-bottom: 49px;
  }
}

@media screen and (min-width: 1190px) {
  .main__text-content {
    margin: 25px auto;
  }

  .main__subheader {
    min-height: 50px;
  }
}
