.page-header {
  max-width: 1200px;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
}

.page-header__logo-image {
  position: relative;
  margin-bottom: 12px; /*51*/
}

.page-header__logo-intro {
  margin-top: 39px;
}

.page-header__index-wrapper {
  min-height: 450px;
  margin-bottom: 33px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 55px;
  background-repeat: no-repeat;
  background-size: 768px 389px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__wrapper {
  min-height: 216px;
  margin-bottom: 35px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% -176px;
  background-repeat: no-repeat;
  background-size: 768px 389px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 760px) {
  .page-header__logo {
    position: absolute;
    top: 0;
  }

  .page-header__index-wrapper {
    min-height: 530px;
    background-position: 50% 0;
    background-size: 1200px 518px;
    margin-bottom: 37px;
  }

  .page-header__logo-intro {
    margin: 77px;
    width: 460px;
    height: 350px;
  }

  .page-header__wrapper {
    min-height: 290px;
    margin-bottom: 74px;
    background-position: 50% 0;
  }
}

@media screen and (min-width: 1190px) {
  .page-header__wrapper {
    margin-bottom: 123px;
  }
}
