.page-main {
  max-width: 1200px;
}

.page-main__header {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 27px auto;
  line-height: 26px;
}

.page-main__subheader {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 45px;
}

.page-main__block-style {
  border-top: 1px solid #d6d6d6;
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 17px;
}

@media screen and (min-width: 760px) {
  .page-main__header {
    font-size: 21px;
  }

  .page-main__block-style {
    border-top: none;
  }

  .page-main__subheader {
    margin: 0 auto 50px;
  }

  .page-main__block-style:nth-child(1) {
    max-width: 1200px;
    min-width: 70%;
  }

  .page-main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
