.top-five {
  margin-top: 30px;
}

.top-five__list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 26px;
}

.top-five__item-header {
  font-size: 18px;
  padding: 47px 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  margin-bottom: 0;
}

.top-five__item-tagline {
  padding-bottom: 40px;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
}

.top-five__grey-block {
  background-color: #eeeeee;
  padding: 15px 0;
  min-height: 36px;
}

.top-five__bg-city {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #dcdce1;
  height: 260px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.top-five__bg-bridge {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #dcdce1;
  height: 260px;
  width: 320px;
  margin: 0 auto;
}

.top-five__bg {
  background-color: #81b3d2;
  color: #ffffff;
}

.top-five__sublist {
  list-style-type: none;
  margin-bottom: 35px;
  max-width: 480px;
  margin: 0 auto;
}

.top-five__subitem {
  margin-right: 10px;
  margin-bottom: 16px;
  position: relative;
  padding-left: 55px;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 39px;
    height: 37px;
    left: 6px;
  }
}

.top-five__icon-house::before {
  background-image: url("../img/icon-house.svg");
  background-size: 39px, 37px;
}

.top-five__icon-gift::before {
  background-image: url("../img/icon-gift.svg");
  background-size: 32px, 38px;
  left: 10px;
}

.top-five__icon-burger::before {
  background-image: url("../img/icon-burger.svg");
  background-size: 40px, 35px;
  top: 6px;
  left: 3px;
}

.top-five__subitem-header {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: left;
  margin: 0;
}

.top-five__subitem-tagline {
  color: #333333;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0;
  margin-top: 6px;
  flex-shrink: 1;
}

@media screen and (min-width: 760px) {
  .top-five__bg-city,
  .top-five__bg-bridge {
    width: 512px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .top-five__bg-bridge {
    order: -1;
  }

  .top-five__list {
    display: flex;
    flex-wrap: wrap;
  }

  .top-five__item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  .top-five__item-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 33.3%;
    flex-wrap: wrap;
  }

  .top-five__bg {
    width: 100%;
  }

  .top-five__item-header {
    margin: 0;
    font-size: 21px;
    padding: 70px 30px 0;
    line-height: 25px;
  }

  .top-five__item-tagline {
    margin: 0;
    padding: 0 45px;
  }

  .top-five__sublist {
    display: flex;
    max-width: none;
  }
  .top-five__grey-block {
    width: 30%;
    flex-grow: 1;
  }
}
